---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
import discografia from "@/data/discography.json"

---

<BaseLayout title="Miembros" textColor='text-zinc-700' bgColor='bg-white'>
  <div class="my-5 text-center">
    <h1 class="text-5xl md:text-7xl font-bold text-zinc-900">DISCOGRAFIA</h1>
  </div>

  <div class="central">

    <div class="grid lg:grid-cols-3 gap-2 justify-center items-center">
      {discografia.map((album) => {
          return(
              <Card
                name = {album.name},
                releaseDate = {album.releaseDate},
                coverArt = {album.coverArt},
                id = {album.id}
              />
          );
      })
      }
  </div>
  </div>

</BaseLayout>

