---
import Menu from '@/components/menu/Menu';
import paginaInicio from '@/data/pagina_inicio.json';

const { video_introductorio, url_video_youtube, titulo, subtitulo } = paginaInicio
---


<div class="relative">
    <video autoplay loop muted src={video_introductorio} class="w-full h-[100vh] object-cover"></video>
    <div class="absolute inset-0 bg-zinc-900 opacity-40"></div>
    <div class="absolute inset-0" >
        <Menu color = 'text-white' client:load/>
        <div class="flex flex-col space-y-2 items-end mt-10 mx-5 lg:space-y-5 lg:mr-10 lg:mt-10">
            <div class="flex flex-col justify-end items-end">
                <a class="text-4xl md:text-6xl lg:text-8xl font-bold text-white" href= {url_video_youtube} target="_blank">{titulo}</a >
                <p class="text-3xl md:text-4xl lg:text-4xl text-white">{subtitulo}</p>
            </div>
            <div class="w-40 bg-white h-1"></div>
        </div>
    </div>
  </div>
