---
import "@fontsource-variable/noto-sans";
import { ViewTransitions } from 'astro:transitions';
import Menu from '@/components/menu/Menu';
import ContentLayoutMembers from "@/layouts/ContentLayoutMembers.astro";
import FooterRedes from '@/components/footer/FooterRedes.astro';
interface Props {
  title: string;
  textColor: string;
}

const { title, textColor = "text-black" } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Menu client:load color = {textColor}/>
      <FooterRedes color = {textColor}/>

      <div class="max-w-7xl mx-auto px-10 md:px-28 lg:max-w-screen-2xl">
        <slot />
      </div>
  </body>
</html>